@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-950 text-gray-300;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

